.about {
  text-align: center;
  margin-bottom: 10rem;
  color: #252d4f;
}

#title {
  font-size: 4rem;
  padding: 2rem 0;
}

.about p {
  opacity: 0.7;
  max-width: 900px;
  font-size: 1.3rem;
  line-height: 30px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertical div {
  padding: 40px 0;
}
