* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.soon {
  max-width: 1100px;
  margin: 2rem auto 10rem auto;
  background-color: #f45f3e;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
}

#title {
  font-size: 4rem;
  padding: 2rem 0;
  text-align: center;
  color: #252d4f;
}

#person {
  height: 600px;
  border-radius: 0 40px 40px 0;
}

#logo {
  padding: 30px 60px;
}

.soon h1 {
  font-size: 5rem;
  max-width: 300px;
  padding: 0 60px;
}

.soon h1:first-child {
  color: #252d4f;
}

.soon p {
  font-size: 2rem;
  max-width: 700px;
  padding: 30px 60px;
}

#personAfter {
  display: none;
}

@media screen and (max-width: 992px) {
  .soon {
    flex-direction: column-reverse;
    max-width: 700px;
    text-align: center;
  }

  .soon h1 {
    max-width: 100%;
  }

  .soon p {
    padding: 40px;
  }

  #person {
    display: none;
  }

  #personAfter {
    display: block;
    max-height: 450px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .soon {
    margin: 5rem auto 10rem auto;
    max-width: 90%;
  }
}

@media screen and (max-width: 480px) {
  .soon h1 {
    font-size: 3rem;
  }

  .soon p {
    font-size: 1.5rem;
    max-width: 700px;
  }

  #title {
    font-size: 3rem;
    padding: 0;
  }
}
