.pricing {
  width: 100%;
  text-align: center;
  color: #252d4f;
  margin-bottom: 15rem;
}

#title {
  font-size: 3rem;
  padding: 2rem 0;
}

.switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

#switch {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 110px;
  margin: 0 2rem;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: #f45f3e;
  transition: all 400ms ease;
  border-radius: 50px;
}

.slider::before {
  content: "";
  position: absolute;
  height: 50px;
  width: 50px;
  left: 5px;
  bottom: 5px;
  background-color: #fff;
  transition: all 400ms ease;
  border-radius: 50px;
}

#switch input {
  display: none;
}

input:checked + .slider {
  background-color: #252d4f;
}

input:checked + .slider::before {
  transform: translateX(100%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 15px 0 15px;
}

.container div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
}

.container h1 {
  font-size: 4vw;
  padding-bottom: 20px;
}

.container h2 {
  padding-top: 20px;
}

.container h3 {
  padding: 20px 0;
}

.container button {
  background-color: #f45f3e;
  color: #fff;
  border: none;
  margin: 20px 0;
  font-size: 1.5rem;
  padding: 10px 80px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 500ms ease;
}

.container button:hover {
  color: #f45f3e;
  background-color: #fff;
}

.professional {
  background-color: #f45f3e;
  color: #fff;
  border-radius: 10px;
}

.professional button {
  color: #f45f3e;
  background-color: #fff;
  margin: 50px 0;
}

.professional button:hover {
  background-color: #f45f3e;
  color: #fff;
}

.professional h2 {
  padding-top: 40px;
}

.basic,
.master {
  background-color: #fff;
  border-radius: 10px 0 0 10px;
  box-shadow: 2px 2px 10px 3px #808080;
}

.master {
  border-radius: 0 10px 10px 0;
}

hr {
  height: 5px;
  width: 250px;
  background-color: #f45f3e;
  border: none;
}

.professional hr {
  background-color: #252d4f;
}

@media screen and (max-width: 1200px) {
  .container div {
    padding: 0 25px;
  }

  .container h1 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 992px) {
  .pricing {
    margin-bottom: 5rem;
  }

  .container {
    flex-direction: column;
  }

  .container div {
    padding: 0 50px;
    margin: 20px 0;
    max-width: 70%;
    border-radius: 20px;
  }
}

@media screen and (max-width: 480px) {
  #title {
    font-size: 4rem;
  }

  .switch {
    display: none;
  }

  .container div {
    max-width: 100%;
  }

  /* .container h1 {
    font-size: 2rem;
  }

  .container button {
    font-size: 1rem;
  }

  hr {
    padding: 0 20px;
  } */
}
