* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Orbitron", sans-serif;
}

body {
  background: url("./images/background.svg") right top;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  cursor: pointer;
  padding: 0 20px;
  font-size: 1.3rem;
}

nav ul li:hover {
  background-color: #f45f3e;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 5px 15px;
}

nav a {
  color: #000;
  text-decoration: none;
}

nav a:hover {
  color: #fff;
}

nav button,
.intro button,
.reviews button,
.overFooter button,
footer button {
  background: #f45f3e;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 10px 30px;
  box-shadow: 2px 2px 10px 3px #808080;
  cursor: pointer;
}

nav button:hover,
.intro button:hover,
.reviews button:hover,
footer button:hover {
  color: #f45f3e;
  background-color: #fff;
}

.intro {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 30px;
  color: #252d4f;
  margin-bottom: 10rem;
}

.intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.intro h1 {
  font-size: 3rem;
  max-width: 500px;
}

.intro p {
  font-size: 1.3rem;
  opacity: 0.8;
  max-width: 500px;
  padding: 40px 0;
}

.diff {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 10rem;
}

.diff div {
  padding: 0 50px;
}

.diff ul {
  list-style-type: none;
}

.diff span {
  background: #f45f3e;
  color: #fff;
  font-size: 1.2rem;
  padding: 5px 20px;
  margin-right: 0.5rem;
  margin-left: -85px;
  border-radius: 40px;
}

.diff p,
.diff h1 {
  max-width: 500px;
  padding-bottom: 15px;
}

.diff p {
  opacity: 0.7;
  line-height: 30px;
  font-size: 1.2rem;
  padding-bottom: 40px;
}

.diff h1 {
  font-size: 1.5rem;
}

.diff div:first-of-type h1 {
  font-size: 3rem;
  padding-bottom: 25px;
}

.diff div:first-of-type p {
  font-size: 1.3rem;
  line-height: 30px;
}

.reviews {
  text-align: center;
  margin: 10rem 0;
}

.reviews h1 {
  font-size: 4rem;
  margin-bottom: 5rem;
}

.reviews h2 {
  font-size: 2rem;
  padding: 20px 0;
}

.reviews p {
  max-width: 80%;
  line-height: 30px;
}

.reviews div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.reviews div div {
  flex-direction: column;
}

.overFooter {
  background: #f45f3e;
  color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.overFooter h1 {
  font-size: 4rem;
  max-width: 50%;
  padding: 50px 0;
}

.overFooter button {
  background-color: #fff;
  color: #f45f3e;
}

.overFooter button:hover {
  background: none;
  color: #000;
  box-shadow: none;
  border: 2px solid black;
}

footer {
  background: #000;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 20px;
}

footer ul {
  list-style-type: none;
}

footer ul:not(:first-child) {
  padding: 0 15px;
}

footer ul:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer ul:first-child li {
  padding: 0 10px;
}

footer ul li {
  font-size: 1.5rem;
  padding: 10px 0;
  cursor: pointer;
}

footer ul li:hover {
  background-color: #f45f3e;
  border-radius: 20px;
  padding: 5px 15px;
}

footer a {
  color: #fff;
  text-decoration: none;
}

footer input {
  font-size: 1rem;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: 1rem;
  color: #f45f3e;
  border: none;
}

footer input:focus {
  border: 3px solid #f45f3e;
  outline: none;
}

footer p {
  color: red;
}

.hide {
  display: none;
}

.menuBtn {
  position: absolute;
  top: 2.5rem;
  right: 60px;
  z-index: 1;
  height: 20px;
  width: 28px;
  cursor: pointer;
  transition: all 500ms ease-in-out;
  display: none;
}

.menuBurger {
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 24px;
  height: 3px;
  background: #f45f3e;
  transition: all 500ms ease-in-out;
}

.menuBurger::before {
  content: "";
  position: absolute;
  top: -8px;
  width: 28px;
  height: 3px;
  background: #f45f3e;
  transition: all 500ms ease-in-out;
}

.menuBurger::after {
  content: "";
  position: absolute;
  top: 8px;
  width: 20px;
  height: 3px;
  background: #f45f3e;
  transition: all 500ms ease-in-out;
}

.menuBurger.open {
  transform: rotate(720deg);
  background: transparent;
}

.menuBurger.open::before {
  transform: rotate(45deg) translate(5px, 8px);
}

.menuBurger.open::after {
  width: 28px;
  transform: rotate(-45deg) translate(3px, -7px);
}

@media screen and (max-width: 992px) {
  nav {
    padding: 40px;
  }

  nav button {
    display: none;
  }

  nav ul li {
    font-size: 1.2rem;
  }

  .intro img {
    height: 350px;
  }

  .intro h1 {
    font-size: 2rem;
    max-width: 400px;
  }

  .intro p {
    max-width: 400px;
  }

  .reviews {
    padding: 0 10px;
  }

  .reviews p {
    max-width: 80%;
    line-height: 20px;
  }

  .overFooter h1 {
    font-size: 2rem;
  }

  footer {
    flex-wrap: wrap;
  }

  footer form {
    margin-top: 2rem;
  }
}
