body {
  background: url("./images/background.svg") right top;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 60px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li {
  cursor: pointer;
  padding: 0 20px;
}

nav button,
.intro button,
.reviews button {
  background: #f45f3e;
  color: #fff;
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  padding: 10px 30px;
  box-shadow: 2px 2px 10px 3px #808080;
}

nav button:hover,
.intro button:hover,
.reviews button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
  color: #252d4f;
}

.intro div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 45%;
}

.intro h1 {
  font-size: 4rem;
  margin: 0;
  max-width: 70%;
}

.intro p {
  font-size: 1.3rem;
  opacity: 0.8;
  max-width: 50%;
}

.reviews {
  text-align: center;
  margin-top: 10rem;
}

.reviews h1 {
  font-size: 4rem;
}

.reviews h2 {
  font-size: 2rem;
  margin-bottom: 0;
}

.reviews p {
  max-width: 80%;
}

.reviews div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

.reviews div div {
  flex-direction: column;
}
